---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Back End Developer"
	pubDate={new Date('September 22 2023')}
	heroImage="/eduanico.jpeg"
>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nostrum, nisi vero, quasi quia dolore incidunt fugit ipsa perspiciatis aliquid beatae repudiandae voluptas excepturi possimus fuga nobis earum laudantium illum.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi vel quo </p>
</Layout>
